.header {
    background: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #212121;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.192;
    letter-spacing: 0.03em;

}

.header-logo > span {
    color: #2196F3;
}


.header-nav-li {
    text-decoration: none;
}

.header-nav-link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-nav-link:hover, .header-nav-link:focus {
    color: #2196F3;
}


.current-link {
    color: #2196F3;
    text-decoration: none;
}


.header-address-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-address-link:hover, .header-address-link:focus {
    color: #2196F3;
}


.order {
    background: #2F303A;
}

.order-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order-btn {
    background: #2196F3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}


.advantage {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.advantage-about {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #757575;
}

.our-work {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team {
    background: #F5F4FA;
}

.team-name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}


.team-owes {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    background: #2F303A;
}

.footer-logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-logo > span {
    color: #2196F3;
}


.footer-address {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-address a[target] {
    color: #FFFFFF;
}


.our-work-image {
    width: 370px;
    height: 297px;
}

.our-team-image {
    width: 270px;
    height: 260px;
}

/*Портфолио*/


.portfolio-nav {

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.portfolio-nav:hover, .portfolio-nav:focus {
    color: #FFFFFF;
    background: #2196F3;
}

.portfolio-img {
    width: 370px;
    height: 294px;
}

.portfolio-soft {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-about {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;

}
